@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Find the things that Gorkhalis loved to do, eat, visit and so on...
            </p>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
       need to add more info here
    </li>

    <li class="two">
        more info here too
    </li>

    <li class="three">
       and here
    </li>
</ol>
